package ${packageName}.service;

import ${packageName}.domain.${ClassName};
import ${packageName}.domain.vo.${ClassName}Vo;
import ${packageName}.domain.bo.${ClassName}Bo;
#if($table.crud || $table.sub)
import com.hawk.common.core.page.PageInfo;
import com.hawk.common.core.domain.PageQuery;
#end
import com.hawk.framework.mybatis.common.BaseService;

import java.util.Collection;
import java.util.List;

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Service extends BaseService<${ClassName}Mapper,${ClassName}>  {

##    /**
##     * 新增${functionName}
##    */
##    boolean insert(${ClassName} paramBean);
##
##    /**
##     * 删除${functionName}
##     */
##    boolean deleteByPrimaryKey(Long id);
##
##    /**
##     * 校验并批量删除${functionName}信息
##     */
##    void deleteBatchByPrimaryKeys(String ids);
##
##    /**
##     * 校验并批量删除${functionName}信息
##     */
##    void deleteBatchByPrimaryKeys(List<Long> ids);
##
##    /**
##     * 修改${functionName}
##     */
##    boolean updateByPrimaryKeySelective(${ClassName} paramBean);
##
##    /**
##     * 查询${functionName}
##     */
##    ${ClassName} getByPrimaryKey(Long id);
##
##    /**
##     * 查询${functionName}列表
##     */
##    List<${ClassName}> listByConditions(${ClassName} paramBean);
##
##    /**
##     * 查询${functionName}全部
##     */
##    List<${ClassName}> listAll();
##
##    /**
##     * 查询${functionName}全部
##     */
##     ${ClassName} listOne(${ClassName} paramBean);
##
##    /**
##     * 分页查询${functionName}
##     */
##    PageInfo<${ClassName}> selectPageList(${ClassName} paramBean, int pageSize, int pageNum)
##}
