package ${packageName}.service.impl;

import cn.hutool.core.bean.BeanUtil;
import com.ruoyi.common.utils.StringUtils;
#if($table.crud || $table.sub)
import com.hawk.framework.mybatis.common.impl.BaseServiceImpl;
import com.hawk.framework.web.page.PageInfo;
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
#end
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;
import ${packageName}.domain.bo.${ClassName}Bo;
import ${packageName}.domain.vo.${ClassName}Vo;
import ${packageName}.domain.${ClassName};
import ${packageName}.mapper.${ClassName}Mapper;
import ${packageName}.service.I${ClassName}Service;

import java.util.List;
import java.util.Map;
import java.util.Collection;

/**
 * ${functionName}Service业务层处理
 *
 * @author ${author}
 * @date ${datetime}
 */
@RequiredArgsConstructor
@Service
public class ${ClassName}ServiceImpl extends BaseServiceImpl<${ClassName}Mapper, ${ClassName}> implements ${ClassName}Service {

    private final ${ClassName}Mapper baseMapper;

    /**
     * 新增${functionName}
     */
    @Override
    public boolean insert(${ClassName} paramBean) {
        return super.insert(paramBean);
    }


    /**
     * 删除${functionName}
     */
    @Override
    public boolean deleteByPrimaryKey(Long id) {
        return super.deleteByPrimaryKey(id);
    }

    /**
     * 批量删除${functionName}
     */
    @Override
    public void deleteBatchByPrimaryKeys(String ids){
        super.deleteBatchByPrimaryKeys(ids);
    }


    /**
     * 批量删除${functionName}
     */
    @Override
    @Transactional(rollbackFor = RuntimeException.class)
    public void deleteBatchByPrimaryKeys(List<Long> ids) {
        ids.forEach(this::deleteByPrimaryKey);
    }

    /**
     * 修改${functionName}
     */
    @Override
    public boolean updateByPrimaryKeySelective(${ClassName} paramBean) {
        return super.updateByPrimaryKeySelective(paramBean);
    }

    /**
     * 查询${functionName}
     */
    @Override
    public ${ClassName} getByPrimaryKey(Long id) {
        return super.getByPrimaryKey(id);
    }

    /**
     * 查询${functionName}
     */
    @Override
    public List<${ClassName}> listByConditions(${ClassName} paramBean) {
        return super.listByConditions(paramBean);
    }

    /**
     * 查询${functionName}
     */
    @Override
    public List<${ClassName}> listAll() {
        return super.listAll();
    }

    /**
     * 查询${functionName}
     */
    @Override
    public ${ClassName} listOne(${ClassName} paramBean) {
        return super.listOne(paramBean);
    }

    #if($table.crud || $table.sub)
    /**
     * 查询${functionName}列表
     */
    @Override
    public PageInfo<${ClassName}> selectPageList(${ClassName} paramBean, int pageSize, int pageNum){
        LambdaQueryWrapper<${ClassName}> lqw = buildQueryWrapper(paramBean);
        Page<${ClassName}> page = new Page<>(pageNum, pageSize);
        page = baseMapper.selectPage(page, lqw);
        return PageInfo.build(page);
    }
    #end


    private LambdaQueryWrapper<${ClassName}> buildQueryWrapper(${ClassName} paramBean) {
        return _wrapper(QueryUtil.param(paramBean)).getQueryWrapper().lambda();
        /*Map<String, Object> params = paramBean.getParams();
                LambdaQueryWrapper<${ClassName}> lqw = Wrappers.lambdaQuery();
        #foreach($column in $columns)
        #if($column.query)
        #set($queryType=$column.queryType)
        #set($javaField=$column.javaField)
        #set($javaType=$column.javaType)
        #set($columnName=$column.columnName)
        #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
        #set($mpMethod=$column.queryType.toLowerCase())
        #if($queryType != 'BETWEEN')
        #if($javaType == 'String')
        #set($condition='StringUtils.isNotBlank(paramBean.get'+$AttrName+'())')
        #else
        #set($condition='paramBean.get'+$AttrName+'() != null')
        #end
                lqw.$mpMethod($condition, ${ClassName}::get$AttrName, bo.get$AttrName());
        #else
                lqw.between(params.get("begin$AttrName") != null && params.get("end$AttrName") != null,
                    ${ClassName}::get$AttrName ,params.get("begin$AttrName"), params.get("end$AttrName"));
        #end
        #end
        #end
                return lqw;*/
    }

}
